.cta {
  margin: 0;
  min-width: 405px;
  text-decoration: none;
  color: #fff;
  background-color: #003FB4;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  padding: 19px 0px;
}

.cta:hover {
  background-color: #28509b;
  color: #fff;
  transition: all 0.3s ease;
}